html, body {
    margin: 0px;
    background-color:  #0c92ff;
    color: white;
}

.titulo {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 25px;
}